/Qualifer-b/prep-test/nbproject/private/
/Qualifer-b/prep-test/build/
/Qualifer-b/Snake Discuss/snake-discuss/nbproject/private/
/Qualifer-b/Snake Elections/Snake-elect/nbproject/private/
/Qualifer-b/Snake Elections/Snake-elect/build/
/Qualifer-b/Snake Coup/SNCOUP/nbproject/private/
/Qualifer-b/Snake Coup/SNCOUP/build/
/Qualifer-b/Snake Social/SnackSocial/nbproject/private/
/Qualifer-b/Snake Social/SnackSocial/build/